<h1 mat-dialog-title>Welcome to our chat =)</h1>
<form [formGroup]="userForm">
  <div mat-dialog-content>
    <p>What's your name?</p>
    <mat-form-field>
      <input matInput formControlName="name">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button
      [disabled]="userForm.invalid"
      [mat-dialog-close]="userForm.get('name').value"
      cdkFocusInitial
      mat-button
    >Go</button>
  </div>
</form>
