.users-container {
  border-radius: 5px;
}

.user {
  background-color: #fff;
  cursor: pointer;

  &:not(:first-child) {
    border-top: 1px solid #ccc;
  }

  &:hover {
    background-color: #eee;
  }

  &.current-user {
    background-color: #387bb2;
  }
}
