.chat-header {
  align-items: center;
  background-color: #222;
  color: #6b6b6b;
  display: flex;
  height: 50px;
  padding: 0 15px;
}

.chat-content {
  display: flex;
  height: calc(100vh - 50px);

  .chat-feed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 80%;
  }

  .chat-aside {
    background-color: #222;
    border-top: 3px solid #141414;
    padding: 0 10px;
    width: 20%;
  }
}
