<span class="chat-header">Chat</span>

<div class="chat-content">
  <div class="chat-feed">
    <app-chat-feed [messages]="messages"></app-chat-feed>
    <app-chat-form (sendMessageEmitter)="sendMessage($event)"></app-chat-form>
  </div>

  <div class="chat-aside">
    <app-chat-users
      [currentUser]="currentUser"
      [users]="users"
    ></app-chat-users>
  </div>
</div>
