<form [formGroup]="chatForm" (submit)="sendMessage()">
  <mat-form-field class="message-field">
    <input
      #messageInput
      formControlName="message"
      matInput
      placeholder="Message"
    >
  </mat-form-field>
  <span class="emoji" (click)="addEmoji()">{{emoji}}</span>
  <button
    class="send-button"
    mat-button
    mat-raised-button
    type="submit"
  >
    send
  </button>
</form>
