<div class="feed-container">
  <div *ngFor="let message of messages" class="message-row">
    <span>({{message.time | date:'hh:mm'}})</span>
    <span class="user-name">{{message.user}}:</span>
    <span>{{message.text}}</span>
  </div>
</div>

