.feed-container {
  border-radius: 3px;
  border: 1px solid #efefef;
  overflow-y: scroll;

  .message-row {
    align-items: center;
    display: flex;
    height: 40px;
    padding: 0 5px;

    &:nth-child(odd) {
      background-color: #efefef;
    }

    span {
      font-size: 14px;
      padding: 0 2px;
    }

    .user-name {
      color: #54b3f3;
      font-weight: bold;
    }
  }
}
